/.idea
/env
/packages.matrix.org/debian/dists
/packages.matrix.org/debian/pool
/packages.matrix.org/npm/*/*.tgz
/packages.matrix.org/npm/*/*.tgz.asc
/matrix-org-archive-keyring.deb
/matrix-org-archive-keyring/usr/share/keyrings/
